aiohappyeyeballs==2.4.0
aiohttp==3.10.5
aiosignal==1.3.1
async-timeout==4.0.3
attrs==24.1.0
bidict==0.23.1
binarytree==6.5.1
bintrees==2.2.0
certifi==2024.7.4
charset-normalizer==3.3.2
contourpy==1.2.1
coverage==7.6.1
cycler==0.12.1
exceptiongroup==1.2.2
fonttools==4.53.0
frozenlist==1.4.1
graphviz==0.20.3
h11==0.14.0
idna==3.7
iniconfig==2.0.0
jsonschema==4.23.0
jsonschema-specifications==2023.12.1
kiwisolver==1.4.5
matplotlib==3.9.0
multidict==6.0.5
nest-asyncio==1.6.0
networkx==3.3
numpy==1.26.4
opencv-python-headless==4.10.0.82
packaging==24.0
pandas==2.2.2
parameterized==0.9.0
pillow==10.3.0
pluggy==1.5.0
pyarrow==16.1.0
pycrunch-engine==1.6.4
pyparsing==3.1.2
PyQt5==5.15.10
PyQt5-Qt5==5.15.2
PyQt5-sip==12.13.0
PyQt6==6.7.0
PyQt6-Qt6==6.7.1
PyQt6-sip==13.6.0
pytest==8.3.2
python-dateutil==2.9.0.post0
python-engineio==4.9.1
python-socketio==5.11.3
pytz==2024.1
PyYAML==6.0.1
referencing==0.35.1
requests==2.32.3
rpds-py==0.19.1
scipy==1.14.0
setuptools-scm==8.1.0
simple-websocket==1.0.0
six==1.16.0
stringcase==1.2.0
tomli==2.0.1
treelib==1.7.0
tzdata==2024.1
urllib3==2.2.2
watchdog==5.0.0
wfcommons==1.0
wsproto==1.2.0
yarl==1.9.4
